@{
    ViewData["Title"] = "Add";
}
<div class="row">
    <div class="col-md-12">
        <h2>My Shopping List</h2>

        Item:
        <input type="text" />
        <input type="button" value="Save" />
    </div>
</div>
