@{
    ViewData["Title"] = "Add";
}
<div class="row">
    <div class="col-md-12">
        <form method="POST">
            <label for="NewItem">Item:</label>
            <input type="text" name="txtItem" placeholder="Enter new shopping list item" />
            <input type="submit" />
        </form>
    </div>
</div>
