@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-12">
        <h2>My Shopping List</h2>

        <ul>
            @foreach (var @item in Model)
            {
                <li>
                    @item.Item @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </li>
            }
        </ul>

    </div>
</div>
